

<div class="container">
    <div class="row" style="padding-left:15px">
        <h1>Dashboard Statistics</h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="/sineema" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br />@ViewBag.countOfMovies Movies</a>
                            <a href="/Actors" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br />@ViewBag.countOfActors Actors</a>
                        </div>
                        <div class="col-xs-6 col-md-6">

                            <a href="/Actors" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br />@ViewBag.countOfMovieActors Movie Actors</a>
                            <a href="/Clients" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br />@ViewBag.countOfClients Clients</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>