@using VideoLibrary.BusinessEntities.Models.Model
<h1>Dashboard</h1>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Recent Movies <a title="Add new movie" href='@Url.Action("Create","Movies")'><span class="fa fa-2x fa-plus-circle pull-right"></span></a></div>
        <div class="panel-body">
        </div>
        <ul class="list-group">
            @foreach (var item in ViewData["RecentMovies"] as List<Movie>)
            {
                <li class="list-group-item">@item.Title</li>
            }
        </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Genre Popularity</div>
        <div class="panel-body">
            @ViewData["CountPerGenreChart"]
        </div>
    </div>
</div>