/* Styles used by the TinyMCE editor */
@import "main.css";

body {
    background: #fff;
}
/*make links visible on epi yellow background*/
body.epi_visualaid a {
    color: #000;
}
h2 {
    EditMenuName:Heading 2;
}
h3 {
    EditMenuName:Heading 3;
}
img.float-left {
    EditMenuName:Image float left;
}
img.float-right {
    EditMenuName:Image float right;
}