/**************************************
* IE10 viewport fix - http://getbootstrap.com/getting-started/#support-ie10-width
***************************************/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/**************************************
* General styles
***************************************/
html {
    overflow-y: scroll;
}
body {
    font-size: 16px;
    line-height: 1.375; /*16/22*/
}

/**************************************
* Global heading sizes
***************************************/
h1 {
    font-size: 40px;
    line-height: 1.2; /*48/40*/
    margin: 0 0 15px;
}
h2 {
    font-size: 28px;
    line-height: 1.142857142857143; /*32/28*/
    margin: 0 0 15px;
}
h3 {
    font-size: 16px;
    line-height: 1.375; /*22/16*/
    font-weight: bold;
    margin: 0;
}

/**************************************
* Global text sizes
***************************************/
p {
    margin: 0 0 15px;
}
.preamble {
    font-size: 24px;
    line-height: 1.333333333333333; /*32/24*/
    margin: 0 0 15px;
}

/**************************************
* Global link styles
***************************************/
a {
    color: #00aad3;
}
a:hover,
a:focus {
     color: #a4dbee;
}

/**************************************
* Miscellaneous global styles
***************************************/
ul, ol {
    margin: 0 0 15px;
    padding: 0 0 0 30px;
}
dl {
    margin: 0 0 15px;
}
hr {
    border-width: 2px;
    border-color: #000;
}
img {
    max-width: 100%;
    height: auto;
}
img.float-left {
    float: left;
    margin: 5px 20px 10px 0;
}
img.float-right {
    float: right;
    margin: 5px 0 10px 20px;
}

/**************************************
* Customizing bootstrap fluid container
***************************************/
/*
.container-fluid {
    min-width: 320px;
    max-width: 1182px;
}
*/


/**************************************
* Header
***************************************/


/**************************************
* Footer
***************************************/


/**************************************
* Main
***************************************/
.divclass .span1{
    
}
.divclass .span2 {
    
}






























